h1 {
    text-decoration: underline;
    font-size: 2.5vw;
}

p {
    font-size: 1.3vw;
}

body {
    background-image: url('../assets/background.jpeg');
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Major Mono Display', monospace;
}

.box {
    /* Center items in div */
    display: flex;
    align-items: center;
    
    /* Center div on page */
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    /* others */
    width: 60%;
    height: 30vw;
    border-radius: 25px;
    background-color: white;
}

.text {
    width: 50%;
    padding: 2em;
    text-align: left;
}

.pic {
    width: 50%;
    display: grid;
    justify-items: center;
    padding: 2em;
}

#profile {
    border-radius: 50%;
    width: 80%;
}

@media screen and (max-width: 920px) {
    h1 {
        font-size: 3vh;
    }
    
    p {
        font-size: 1.8vh;
    }
    
    .box {
        flex-direction: column;
        width: 80%;
        height: 70%;
        text-align: center;
        justify-content: center; /* centers items vertically */
    }

    .text {
        display: inline-block;
        text-align: center;
        padding: 0em 2em 2em 2em;
    }
    
    .pic {
        display: inline-block;
        width: auto;
        justify-content: center;
        padding: 2em 2em 0em 2em;
    }

    #profile {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .box {
        height: 60%;
    }

    #profile {
        width: 60%;
    }
}