h1 {
    text-decoration: underline;
    font-size: 2.5vw;
}

p {
    font-size: 1.3vw;
}

body {
    font-family: 'Major Mono Display', monospace;
    background-image: url('../assets/background.gif'); /*fallback background*/
    background-attachment: fixed;
    background-size: 100% auto;
}

section {
    display: block;
}

.small-toast {
    display: none;
}

.small-box {
    display: none;

    width: 60%;
    border-radius: 25px;
    background-color: white;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

canvas {
    position: relative;
    z-index: -3 !important;
}

#container {
    position: absolute;
    top:0;
    left: 0;
}

@media screen and (max-width:768px) {

    .small-box,
    .small-toast {
        display: block;
    }

    .row {
        text-align: center;
    }

    .col-md-4,
    .col-md-8 {
        padding: 10px 0;
    }

    section {
        display: none;
    }
}